<!DOCTYPE html>
<html>
<head>
	<title>Phishing Features</title>
	<link rel="stylesheet" type="text/css" href="../static/css/features.css">
</head>
<body>
<header>
	<div class="container">
		<div id="branding">
			<h2>Machine Learning Based Phishing Detection System</h2>
		</div>

		<nav>
			<ul>
				<li class="current"><a href="home.html">Home</a></li>
				<li><a href="classification.html">Classification</a></li>
				<li><a href="visualization.html">Visualization</a></li>
			</ul>
		</nav>
			
	</div>
</header>

<div class="dark">
	<h3>https://www.famebook.com</h3>
</div>

<div class="tables">
	<table>
		<tr class="boldh">
			<th>Features</th>
			<th>Details</th>
			<th>Result</th>
		</tr>
		<tr>
			<td>Age of domain</td>
			<td>Age of domain is Mon sep 12 00:00:00:00 CDT 2000</td>
			<td><button>Legitimate</button></td>

		</tr>
		<tr>
			<td>DNS record</td>
			<td>DNS Record exists for the URL</td>
			<td><button>Legitimate</button></td>
		</tr>
		<tr>
			<td>Google Rank</td>
			<td>Page rank for this url is 1</td>
			<td><button>Legitimate</button></td>
		</tr>
		<tr>
			<td>Alexa page rank</td>
			<td>Alexa page rank for this url is 2000</td>
			<td><button>Legitimate</button></td>
		</tr>
		<tr><td>URL features</td>
			<td>URL features are legitimate</td>
			<td><button class="btn">Phishing</button></td>
		</tr>


	</table>
</div>
</body>
</html>