<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/visualization.css">
	<title>Visualization</title>
</head>
<body>
	<header>
	<div class="container">
		<div id="branding">
			<h2>Machine Learning Based Phishing Website Detection System</h2>
		</div>

		<nav>
			<ul>
				<li><a href={{url_for('homepage')}}>Home</a></li>
				<!--<li><a href={{url_for('classification_page')}}>Classification</a></li>-->
				<li><a href={{url_for('visualization_page')}}>Visualization</a></li>
			</ul>
		</nav>
			
	</div>
</header>

<div class="dark">
	<h2 style="color: #ffffff;">{{ URL }}</h2>
</div>
<div class="visual">

	<img src="../static/images/pie.png" style="padding-left: 120px">
    <br>
     <br>
    <br>
     <br>
    <br>



    <img src="../static/images/bar1.png" style="padding-left: 120px">

    <br>
    <br>
     <br>
    <br>
     <br>
     <br>
    <br>
     <br>
    <br>



    <img src="../static/images/stackedbar1.png" style="padding-left: 120px">
    <br>
    <br>
     <br>
    <br>
     <br>




</div>
</body>
</html>